[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pokefr-room-randomizer = {editable = true, path = "."}
treelib = "*"
pokefr-room-rando = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.9"
