[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
treelib = "*"
pokefr-room-rando = {editable = true, path = "."}
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
